body {
    margin: 0px;
    font-family: 'segoe ui';
}

#exam-container {
    margin: 0px;
}

ol {
    margin: 0px;
}

body {
    background: rgb(230, 230, 230);
}

.odd,
.even {
    display: inline-flex;
    min-width: 100%;
    padding: 15px 0px 15px 0px;
}

.odd {
    background: rgb(200, 200, 200);
}

.even {
    background: rgb(230, 230, 230);
}

.question-number {
    padding: 0px 15px 0px 15px;
}

.answer-container {
    width: fit-content;
}

.a {
    list-style-type: upper-alpha;
    display: block;
}

.a:hover,
.a>label:hover,
.a>input:hover {
    color: gray;
    cursor: pointer;
}

.a.incorrect {
    color: red;
}

.a.correct {
    color: green;
}